* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridContainer{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px 1fr;

    grid-template-areas: 
    'header header'
    'main aside';
    padding: 5px;
}

h1, h2 {
    padding-left: 50px;
}

.header {
    grid-area: header;
    margin: 5px;
    background-color: gray;
}

.main{
    grid-area: main;
    margin: 5px;
}

.aside{
    grid-area: aside;
    flex-direction: column;
    margin: 5px;
}

.gridItem {
    border: 1px solid; 
    
}

.video {
    background-color: rgb(128, 30, 30);
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 30px;
}

.flx-item {
    display:flex;
    flex-direction: row;
    border: 1px solid;
    padding: 10px;
}

.video-min{
    background-color: rgb(34, 16, 138);
    width: 180px;
    height: 150px;
    margin: 5px;
}

.flex-item{
   
    display: flex;
    flex-direction: row;
}

